/* ---------Anash CSS Codes---------- */
body {
  text-align: center;
  font-family: "Roboto", sans-serif;
}
h2 {
  font-weight: 700;
}
p {
  font-size: 1.125rem;
}
.navbar-brand img {
  width: 160px;
}
.navbar {
  padding: 1% 5%;
}
.nav-item {
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 0 10px;
}
.navbar-light .navbar-nav .nav-link {
  color: #000;
}
.navbar-nav {
  margin-bottom: 0;
}
.hero-section {
  background-image: url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  padding: 12%;
}
.big-heading {
  font-size: 7rem;
  color: #fff;
}
.section-heading {
  font-size: 2.5rem;
}
@media (max-width: 1028px) {
  .big-heading {
    font-size: 6rem;
  }
}
@media (max-width: 768px) {
  .big-heading {
    font-size: 5rem;
    margin-top: 20px;
  }
}
hr {
  width: 20%;
  border-style: solid none none;
  border-width: 4px;
  border-color: #000;
}
.footer {
  background-color: #575454;
  padding: 3%;
  color: #fff;
}
.white-hr {
  border-color: #fff;
  width: 20%;
}
.footer-icon {
  color: #fff;
  margin: 0 2%;
}
.facility-section {
  background-color: #575454;
  color: #fff;
}
.facility-heading {
  color: #fff;
  font-size: 2.5rem;
}
