/* ---------Anash CSS Codes---------- */
.navbar-brand img {
    width: 160px;
}
.navbar {
    padding: 1% 5%;
}
.nav-item {
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 0 10px;
}
.navbar-light .navbar-nav .nav-link {
    color: #000;
}
.navbar-nav {
    margin-bottom: 0;
}
.hero-section {
    background-image: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
    padding: 14%;
}
.big-heading {
    font-size: 7rem;
    color: #fff;
    font-weight: 700;
}
body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}



/* -------------Margaret CSS Codes-------------- */
/* Write your codes here: */



/* ---------Hadeel CSS Codes------------------------ */
/* Write your codes here: */